body{
    background-image: url(9.jpg);
 
    background-size: cover;
    opacity:1;
    
    
}
h1{
    
    font-size: 100px;
    text-shadow: 2px 2px 3px gray;
}

a:visited{
    color: 	#00CED1;
    text-decoration: none;
    
}
a{ color: 	#3CB371;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 2px 2px 1px #ADD8E6;
    opacity:0.9;
}

a:hover{
    
   text-shadow: 2px 2px 3px gray;
    
}